
     <hgroup class="mb20">
    		<h1>Search Results</h1>
    		<h2 class="lead"><strong class="text-danger">{{ searchproducts.length}}</strong> results were found</strong></h2>
    	</hgroup>


        <section class="col-xs-12 col-sm-6 col-md-12">
            {{# each searchproducts }}
    		<article class="search-result row">
    			<div class="col-xs-12 col-sm-12 col-md-3">
    				<a href="#" title=this.title class="thumbnail"><img src={{ this.imagePath }} alt=".." /></a>
    			</div>
    			<div class="col-xs-12 col-sm-12 col-md-9">
    				<h3><a href="#" title="">{{ this.title }}</a></h3>
    				<p>{{ this.description }}</p>
                    <span class="plus"><a href="#" title=this.title><i class="glyphicon glyphicon-plus"></i></a></span>
    			</div>
    			<span class="clearfix borda"></span>
    		</article>
    		{{/each}}
    	</section>


